body {
  font-family: 'Roboto', 'Sans Serif';
  font-size: 16px;
  padding: 0;
  margin: 0;
}

#app {
  margin-right: auto;
  margin-left: auto;
  margin-top: 3rem;
  width: 600px;
}

#filter-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-bottom: 1.5rem;
}

#filter-box select{
  width: 50%;
  font-size: 2rem;
}


@media only screen and (max-width: 600px) {
  #app {
    width: 90%;
  }
}

img {
  width:60px;
  height:60px;
  border-radius: 50%;
  display: inline;
}

#list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

#list>div {
  display: flex;
  padding: 12px;
}

#list>div>div {
  padding: 8px;
}

p {
  margin: 0;
  padding: 4px 0;
}